name: Deploy App

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        # Nếu không có package-lock.json, lệnh này sẽ cài đặt dựa trên package.json
        run: npm install --legacy-peer-deps

      - name: Build project
        # CI=false để bỏ qua các cảnh báo lặt vặt gây dừng build
        run: CI=false npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Phải khớp với outDir: 'dist' trong vite.config.ts
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
